.grid1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  border: 10px solid red;
  overflow: auto;
  resize: vertical;
}

/* Non-grid specific CSS */  
body {
  margin: 10px;
    color: #374046;
    background-color: #374046;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.15em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.item {
  background-color: #ffffff;
  margin: 0 10px 10px 0; 
}
